
table#grid {
    border-collapse: collapse;
    /*border-spacing: 1px;*/
}

#grid td {
    width: 4px;
    height: 4px;
    padding: 0;
    margin: 0;
    border: none;
}

#grid tr {
    border: none;
    padding: 0;
    margin: 0;
}

#grid {
    border: solid 2px #3e3d39;
    margin: 0 auto;
}

#grid td.gray {
    background-color: #5b5b5b;
}

#grid td.white {
    background-color: #ffffff;
}

#down {
    font: 14px Arial;
    color: #000;
    position: absolute;
    left: 50%;
    width: 480px;
    margin-left: -240px;
}

#down div {
    float: left;
    margin: 20px 20px 0 20px;
}

.button {
    width: 120px;
}

.button p {
    border: 2px solid;
    border-radius: 5px;
    background-color: #FFE;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    margin: 0;
}

.button a {
    color: #000;
    text-decoration: none;
    outline: none;
}

.button a:hover {
    color: #ff6600;
}

.selector select {
    background-color: #FFE;
    font: 14px Arial;
    color: #000;
    border: 2px solid;
    border-radius: 5px;
    height: 34px;
    width: 280px;
    outline: none;
}

.checkbox {
    width: 120px;
}

.checkbox p {
    width: auto;
    line-height: 16px;
    margin: 0;
}